@model ManTechTest.Models.Complaint

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Complaint</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplainTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplainDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplainAttachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainAttachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplainDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintsCategory.ComplainCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintsCategory.ComplainCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintsType.ComplainType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintsType.ComplainType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmployeeName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
