@model IEnumerable<ManTechTest.Models.Complaint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComplainTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainAttachment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplainDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintsCategory.ComplainCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComplaintsType.ComplainType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmployeeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainAttachment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplainDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintsCategory.ComplainCategory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplaintsType.ComplainType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.DepartmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmployeeName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComplainId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComplainId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComplainId })
        </td>
    </tr>
}

</table>
