@model ManTechTest.Models.ComplaintsType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComplaintsType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplainType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority.Priority1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority.Priority1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplaintsCategory.ComplainCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplaintsCategory.ComplainCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplainTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
