@model ManTechTest.Models.ComplaintsCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComplaintsCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ComplainCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplainCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorityId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComplainCategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
